@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", monospace, sans-serif;
}

body {
  display: flex;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 1.125rem;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  padding: clamp(0.5em, 2vw, 2em);
}

[hidden="true"] {
  display: none !important;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.info .about {
  flex: 1;
}

.info .image {
  flex-shrink: 0;
  aspect-ratio: 1;
  border-radius: 50%;
}

.info-container {
  width: 80%;
}

.text-subtle {
  opacity: 0.7;
  font-size: 12px;
  color: #79819a;
}

.text-bold {
  font-weight: 800;
  font-size: 14px;
  color: #47516b;
}

.project-card {
  padding: 1rem;
  width: 50%;
  background: #f7f9fc;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
}

.project-card_bottom {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
  place-items: center;
}
.project-card_top {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
  place-items: center;
}
.project-card_top .right {
  grid-column: 2/-1;
}

.project-card_bottom .link-icon {
  width: 30px;
  aspect-ratio: 1;
  background-color: #e1e7fe;
  border-radius: 50%;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card_bottom a {
  justify-self: flex-start;
}

.aside {
  width: 25%;
  background: #f7f9fc;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.name {
  font-size: 32px;
  font-weight: 900;
}

.container.border {
  margin-top: 1rem;
  border-top: 1px solid #e2e6ee;
}

.contact {
  width: 100%;
}

.space-y > *:not(:last-child) {
  margin-bottom: 1rem;
}

.space-y > *:first-child {
  margin-top: 1rem;
}

.contact .image {
  background: #e2e6ee;
  padding: 0.5rem;
  border-radius: 50%;
  aspect-ratio: 1;
}

.container-title {
  align-self: flex-start;
}

.quote-container {
  margin-top: 2rem;
}

.quote {
  position: relative;
  font-size: 1.3rem;
  width: 80%;
}

.quote + .author {
  text-align: left;
  width: 80%;
  font-size: 0.75rem;
  margin-top: 0.2rem;
}

.quote::before {
  position: absolute;
  content: "";
  height: 10px;
  left: -15px;
  aspect-ratio: 1;
  background-image: url("../assets/icons/quotation.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.quote::after {
  position: absolute;
  content: "";
  height: 10px;
  right: -15px;
  aspect-ratio: 1;
  background-image: url("../assets/icons/quotation-inverted.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.name + .title {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #a478e8, #516cf7);
}
