/* TODO: Please rewrite the names in html */
.main {
  padding: 4rem 3rem 4rem 2rem;
  margin-top: 4rem;
}

.timeline__item .title {
  margin-bottom: 1rem;
}

.no-word-wrap {
  white-space: nowrap;
}

.timeline__item {
  list-style: none;
  position: relative;
  padding-inline-start: 4rem;
  padding-bottom: 2rem;
}

.timeline__indicator-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "";
  width: 32px;
  aspect-ratio: 1;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  font-size: 3em;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.4);
}

.timeline__indicator-2 {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #592ea5;
}

.timeline__item:not(:last-child)::before {
  content: "";
  height: 100%;
  width: 2px;
  position: absolute;
  left: 16px;
  background-color: #e1e4ec;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.125rem;
  background: var(--gray-light-2);
  border-radius: var(--border-radius);
}

.project-card__header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.project-card__details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.project-card__title {
  font-weight: var(--font-weight-medium);
  color: var(--gray-darker);
}

.project-card__subtitle {
  color: var(--gray-default);
  font-size: var(--font-size-sm);
}

.project-card__footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.project-card__link-icon {
  padding: 0.25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--gray-light);
}

.project-card__link {
  font-weight: var(--font-weight-semi-bold);
}

.project-card:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.project-card:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/*
* Company
*/

.company-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
  padding-inline-start: 1rem;
  padding-block-end: 1rem;
}

.company-card__work-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.company-card__time-location {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--gray-default);
  font-size: var(--font-size-sm);
}

.company-card__details {
  display: flex;
  gap: 1rem;
}

.company-card__position {
  color: var(--gray-default);
  font-size: var(--font-size-xs);
}

.company-card__position {
  color: var(--gray-darker);
  font-size: var(--font-size-sm);
  flex-weight: var(--font-weight-semi-bold);
}

.company-card__location-icon {
  display: inline-block;
}

.company-card__description {
  color: var(--gray-default);
}

.company-card__indicator {
  position: absolute;
  content: "";
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--gray-darker);
  left: -0.25rem;
  top: 2px;
}

.company-card__work-info::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  background-color: var(--gray-light);
  left: -0.125rem;
  bottom: 0.125rem;
}

/*
* Education
*/
.education-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.125rem;
  background: var(--gray-light-2);
  border-radius: var(--border-radius);
  width: 100%;
}

.education-card__header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.education-card__info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.education-card__course-title {
  font-weight: var(--font-weight-medium);
  color: var(--gray-darker);
  font-size: var(--font-size-md);
}

.education-card__date {
  color: var(--gray-default);
  font-size: var(--font-size-sm);
}

.education:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.education:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.tool-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: #f7f9fc;
  gap: 0.5rem;
  flex-basis: calc(33% - 1rem);
}

.tool-card__name {
  font-weight: var(--font-weight-medium);
  color: var(--gray-darker);
  font-size: var(--font-size-md);
}

.tool-card__usage {
  font-size: var(--font-size-xxs);
  color: var(--gray-default);
}

.tool-card__image {
  height: 48px;
  aspect-ratio: 1;
}

.tool-card__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

/* Skills Section CSS here */

.skill-category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.skill-category__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  align-content: flex-start;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  padding-block: 1rem;
  min-width: 11ch;
}

.skill-category__skills--purple {
  color: var(--primary-default);
}

.skill-category__skills--blue {
  color: var(--secondary-default);
}

.skill-category__logo {
  height: 24px;
  aspect-ratio: 1;
}

.skill-category__skills {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.skills {
  background: var(--gray-light-2);
  padding: 1rem;
}

.skills--two {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.skills--two :first-child {
  padding-inline-end: 1rem;
  border-right: 1px solid var(--gray-light);
}

.skills--triple-list {
  padding-inline: 1rem;
}

.skills--triple-list ul {
  list-style: disc;
  padding-inline-start: 1rem;
}
