@media screen and (max-width: 675px) {
  body {
    flex-direction: column;
  }
  .aside {
    width: 100%;
  }

  .container .flex-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    gap: 1.125rem;
  }

  .text-bold {
    font-size: 12px;
  }

  .text-subtle {
    font-size: 10px;
  }

  .container .flex-col > * {
    gap: 1rem;
  }

  .info-container {
    width: 100%;
    text-align: center;
  }

  .quote + .author,
  .quote,
  .name {
    text-align: center;
  }

  .main {
    width: 100%;
    margin-top: 4rem;
  }

  .cards-container {
    flex-direction: column;
    width: 100%;
  }

  .cards-container > * {
    width: 100%;
  }

  .company {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .company > .right {
    margin-block: 1rem;
    text-align: left;
    width: 100%;
  }

  .education-container {
    flex-direction: column;
  }

  .skills-container .designs,
  .skills-container .development {
    align-items: flex-start;
    width: 100%;
  }

  .skills-container .designs .right,
  .skills-container .development .right {
    flex-direction: column;
    width: 70%;
  }

  .tools-container .flex {
    flex-wrap: wrap;
  }

  .tools-container .top :nth-child(n) {
    flex-basis: calc(33.33% - 1rem);
  }

  .timeline-item {
    padding-inline-start: 3rem;
  }
}
